<div class="banner navbar-expand-lg navbar-dark bg-dark">
 <ul class="navbar-nav mr-auto">
   <li class="nav-item">
     <%= link_to "New List", new_list_path %>
   </li>
    <li class="nav-item mr-auto">
      <%= link_to "My Lists", lists_path %>
    </li>
 </ul>
  <h1>Save Your Favorite Movies</h1>
</div>
<div class="container d-flex justify-content-around">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="card">
        <h3 class="col"><%= link_to list.name, list_path(list) %></h3>
      </div>
    <% end %>
    <%= link_to "Create A movie list", new_list_path %>
  </div>
</div>
